/examples/vids/src_vids
/bench

/target
**/*.rs.bk
#file.out#
file.out

.vscode/launch.json
.vscode/tasks.json
**/flamegraph.svg
**/perf.data
**/perf.data.old
**/vid_dup_finder_example_cache.bin
Cargo.lock
vid_frame_iter/*.bmp
vid_frame_iter/image_file.png
